:root {
    /* Color use in WEB CAR POOL */
   --B3: #2C6AA4;
   --B2:  #1783C1;
   --bg-color: #FFFFFF;
   --back-text: #000000;
   --grey1: #9F9F9F  ;
   --grey2:#D6D6D6 ;
   --grey:#636363 ;
   --F4:#FAFAFA ;
   --success: #00BF13 ;
   --warign: #FFD600 ;
   --danger:#DE5050 ;
}
